/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.player-image {
  margin: auto;
  height: 95px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.2);
  max-width: 100px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.player-display p {
  font-size: 13px;
  margin: 0px;
  text-align: center;
}

.season-average p {
  margin-bottom: 0px;
}

.playerprofile {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.profile p{
  margin-bottom: 0px;
}
